version: "2.1"

services:
  # https://hub.docker.com/r/homeassistant/home-assistant
  homeassistant:
    image: homeassistant/home-assistant:2022.10.5
    ports:
      - 80:8123
    volumes:
      - config:/config

  # https://hub.docker.com/_/eclipse-mosquitto
  mqtt:
    build: mqtt
    ports:
      - 1883:1883
    volumes:
      - mqtt:/mosquitto/data
    tmpfs:
      - /mosquitto/log

  # https://www.zigbee2mqtt.io/guide/getting-started/#installation
  zigbee2mqtt:
    build: zigbee2mqtt
    volumes:
      - zigbee2mqtt:/app/data
    ports:
      - 7000:7000
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0

  # https://hub.docker.com/r/codercom/code-server
  code-server:
    image: codercom/code-server:4.7.1
    command:
      - --port=9000
      - --auth=none
      - --extensions-dir=/config/.vscode
      - --user-data-dir=/config/.vscode
      - /config
    working_dir: /config
    ports:
      - 9000:9000/tcp
    volumes:
      - config:/config
    user: root

  # https://hub.docker.com/_/influxdb
  influxdb:
    image: influxdb:1.8.10
    volumes:
      - influxdb:/var/lib/influxdb

  # https://hub.docker.com/r/grafana/grafana
  grafana:
    image: grafana/grafana:9.2.1
    volumes:
      - grafana:/var/lib/grafana
    ports:
        - 3000:3000/tcp

  # https://github.com/balenablocks/hostname
  hostname:
    image: balenablocks/hostname
    restart: no
    labels:
      io.balena.features.supervisor-api: 1
    environment:
      SET_HOSTNAME: homeassistant

  restic:
    build: restic
    privileged: true
    labels:
      io.balena.features.supervisor-api: 1
    volumes:
      - restic-cache:/cache
      - restic-snapshots:/snapshots

  # https://blakeblackshear.github.io/frigate/installation
  frigate:
    build: frigate
    privileged: true
    ports:
      - "5000:5000"
      - "1935:1935" # RTMP feeds
    volumes:
      - config:/config
      - frigate-media:/media/frigate
    tmpfs:
      - /tmp/cache
    shm_size: 2048M
    environment:
      FRIGATE_RTSP_PASSWORD: "balena"
      CONFIG_FILE: "/config/frigate.yml"
    labels:
      io.balena.features.kernel-modules: 1

  # https://hub.docker.com/r/mrlt8/wyze-bridge/tags
  wyze-bridge:
    image: mrlt8/wyze-bridge:1.8.10
    volumes:
      - wyze-tokens:/tokens

volumes:
  config:
  influxdb:
  grafana:
  mqtt:
  zigbee2mqtt:
  restic-cache:
  restic-snapshots:
  frigate-media:
  wyze-tokens:
