version: "2.1"

volumes:
  config:
  mqtt:
  duplicati:

services:
  # https://hub.docker.com/r/homeassistant/home-assistant
  app:
    image: homeassistant/home-assistant:2021.2.3
    ports:
      - 80:8123
    volumes:
      - config:/config

  # https://hub.docker.com/_/eclipse-mosquitto
  mqtt:
    build: mqtt
    ports:
      - 1883:1883
    volumes:
      - mqtt:/mosquitto/data

  # https://hub.docker.com/r/causticlab/hass-configurator-docker
  configurator:
    image: causticlab/hass-configurator-docker:0.4.0-arm
    ports:
      - 3218:3218/tcp
    volumes:
      - config:/config
    environment:
      HC_BASEPATH: /config
      HC_ENFORCE_BASEPATH: true
      HC_HASS_API: http://homeassistant:8123/api/

  # https://hub.docker.com/r/codercom/code-server
  vscode:
    image: codercom/code-server:3.7.2
    command:
      - --port=8080
      - --auth=none
      - --extensions-dir=/config/.vscode
      - --user-data-dir=/config/.vscode
      - /config
    working_dir: /config
    ports:
      - 8080:8080/tcp
    volumes:
      - config:/config
    user: root

  # https://hub.docker.com/r/linuxserver/duplicati
  duplicati:
    image: linuxserver/duplicati
    environment:
      PUID: "0"
      PGID: "0"
      CLI_ARGS: --webservice-interface=any
    ports:
      - 8200:8200/tcp
    volumes:
      - duplicati:/config
      - config:/source/config
