version: "2.1"

services:
  # https://hub.docker.com/r/homeassistant/home-assistant
  homeassistant:
    image: homeassistant/home-assistant:2022.4.6
    ports:
      - 80:8123
    volumes:
      - config:/config

  # https://hub.docker.com/_/eclipse-mosquitto
  mqtt:
    build: mqtt
    ports:
      - 1883:1883
    volumes:
      - mqtt:/mosquitto/data

  # https://www.zigbee2mqtt.io/guide/getting-started/#installation
  zigbee2mqtt:
    build: zigbee2mqtt
    volumes:
      - zigbee2mqtt:/app/data
    ports:
      - 8080:8080
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0

  # https://hub.docker.com/r/codercom/code-server
  code-server:
    image: codercom/code-server:4.3.0
    command:
      - --port=8888
      - --auth=none
      - --extensions-dir=/config/.vscode
      - --user-data-dir=/config/.vscode
      - /config
    working_dir: /config
    ports:
      - 8888:8888/tcp
    volumes:
      - config:/config
    user: root

  # https://hub.docker.com/_/influxdb
  influxdb:
    image: influxdb:2.2.0
    volumes:
      - influxdb:/var/lib/influxdb

  # https://hub.docker.com/r/grafana/grafana
  grafana:
    image: grafana/grafana:8.5.0
    volumes:
      - grafana:/var/lib/grafana
    ports:
        - 3000:3000/tcp

  # https://github.com/balenablocks/hostname
  hostname:
    image: balenablocks/hostname
    restart: no
    labels:
      io.balena.features.supervisor-api: 1
    environment:
      SET_HOSTNAME: homeassistant

volumes:
  config:
  mqtt:
  zigbee2mqtt:
  dashboard:
  influxdb:
  grafana:
