version: "2.1"

services:
  # https://hub.docker.com/r/homeassistant/home-assistant
  homeassistant:
    image: homeassistant/home-assistant:2021.9.5
    ports:
      - 80:8123
    volumes:
      - config:/config

  # https://hub.docker.com/_/eclipse-mosquitto
  mqtt:
    build: mqtt
    ports:
      - 1883:1883
    volumes:
      - mqtt:/mosquitto/data

  # https://hub.docker.com/r/codercom/code-server
  code-server:
    image: codercom/code-server:3.11.1
    command:
      - --port=8080
      - --auth=none
      - --extensions-dir=/config/.vscode
      - --user-data-dir=/config/.vscode
      - /config
    working_dir: /config
    ports:
      - 8080:8080/tcp
    volumes:
      - config:/config
    user: root

  # https://hub.docker.com/_/influxdb
  influxdb:
    image: influxdb:1.8.6
    volumes:
      - influxdb:/var/lib/influxdb

  # https://hub.docker.com/r/grafana/grafana
  grafana:
    image: grafana/grafana:8.1.2
    volumes:
      - grafana:/var/lib/grafana
    ports:
        - 3000:3000/tcp

  # https://github.com/balenablocks/hostname
  hostname:
    image: balenablocks/hostname
    restart: no
    labels:
      io.balena.features.supervisor-api: 1
    environment:
      SET_HOSTNAME: homeassistant

volumes:
  config:
  mqtt:
  dashboard:
  influxdb:
  grafana:
